.inicio-container{
    display: flex;
    background-color: #262626;
}

.right-side-inicio{
    width: 80vw;
    max-width: 80vw;
}

.right-side-inicio-top{
    display: flex;
}

.right-side-inicio-bot{
    display: flex;
}